<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>images</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>day10_MapKit_Transit_ETA_Requests.md</string>
		</array>
		<array>
			<string>day11_GameplayKit_-_Pathfinding.md</string>
		</array>
		<array>
			<string>day12_GameplayKit_-_Behaviors_Goals.md</string>
		</array>
		<array>
			<string>day13_CloudKit_Web_Service.md</string>
		</array>
		<array>
			<string>day1_Search_APIs.md</string>
		</array>
		<array>
			<string>day2_User_Interface_Testing.md</string>
		</array>
		<array>
			<string>day3_Storyboard_References.md</string>
		</array>
		<array>
			<string>day4_UIStackView.md</string>
		</array>
		<array>
			<string>day5_Xcode_Code_Coverage_Tools.md</string>
		</array>
		<array>
			<string>day6_iPad_Multitasking.md</string>
		</array>
		<array>
			<string>day7_The_New_Contacts_Framework.md</string>
		</array>
		<array>
			<string>day8_Apple_Pay.md</string>
		</array>
		<array>
			<string>day9_New_UIKit_Dynamics_Features.md</string>
		</array>
		<array>
			<string>Index.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>The_Conclusion.md</string>
		</array>
	</array>
</dict>
</plist>
